.form-wrapper {
  display: flex;

  align-items: center;
  margin-bottom: 50px;
}

.polarization-selection {
  display: flex;
  align-items: center;
}

.polar-buttons {
  width: 150px;
  margin-right: 10px;
  border: 0.5px solid rgba(127, 255, 212, 0.5); /* Adjust border size and color */
  background-color: rgba(127, 255, 212, 0.5);
  box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.2); /* Adding box shadow for raised effect */
}

.polar-label {
  margin-right: 67px;
  color: rgb(2, 2, 2);
}

.frequency-selection {
  margin-top: 20px;
  display: flex;
  color: rgb(12, 12, 12);
}

.frequency-label {
  margin-right: 14px;
}

.polar-buttons-selected {
  background-color: rgb(148, 172, 248);
  color: rgb(8, 8, 8);
}

.view-selection {
  width: 750px;
  margin-top: 20px;
  margin-left: 170px;
}

.mesh-selection {
  margin-top: 20px;
  margin-left: 170px;
}

.selections-wrapper {
  margin-top: 25px;
  margin-left: 100px;
  display: flex;
}

.title-wrapper {
  margin-left: 50px;
  display: flex;
}

.logo {
  width: 400px;
  height: 150px;
}

.power-switch {
  display: flex;
  margin-left: 60px;
  margin-top: 24px;
}

.power-switch p {
  margin-left: 10px;
}

.frequency-dropdown {
  width: 100px;
  background-color: rgba(127, 255, 212, 0.5);
  border: 0.5px solid rgba(127, 255, 212, 0.5);
  box-shadow: 2px 4px 4px rgba(255, 255, 255, 0.2);
  color: rgb(8, 8, 8);
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
}

.data-selection-wrapper {
  margin-top: 20px;
}

.data-buttons-left {
  margin-left: 50px;
  border: 0.5px solid black;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.data-buttons-right {
  border: 0.5px solid black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.data-selected {
  background-color: red;
  color: white;
}

.graph-choice-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.graph-option-button {
  width: 100px;
  background-color: antiquewhite;
}

.angle-choice-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.graph-option-selected {
  background-color: rgb(148, 172, 248);
  color: rgb(8, 8, 8);
}

.angle-choice-button {
  width: 100px;
  background-color: antiquewhite;
  margin: 5px;
}

.angle-choice-selected {
  background-color: rgb(148, 172, 248);
  color: rgb(8, 8, 8);
}

.angle-readout {
  margin-left: 10px;
}

.hidden-content {
  visibility: hidden;
}
