.home-wrapper {
}

.dataview-wrapper {
  width: 100vw;
  height: 100vh;
}

.data-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.icon-wrapper {
  width: 25%;
  height: 25%;
  margin-left: 50px;
  margin-top: 25px;
}

.form-data-wrapper {
  display: flex;
  flex-direction: column;
}

.icon-testselection-wrapper {
  display: flex;
  align-items: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-logo {
  animation: rotate 2s linear infinite;
}
