.parameters-wrapper {
  display: flex;
  border: 1px solid black;
  height: 750px;
  width: 1000px;
}

.params-button {
  width: 150px;
  height: 75px;
  cursor: normal;
  border-radius: 0;
}

.side-nav {
  display: flex;
  flex-direction: column;
}

.details-wrapper {
  padding: 10px;
  border-left: 1px solid #0c0c0c;
  margin-left: 20px;
}

h2 {
  border-bottom: 1px solid #0f0f0f;
}

ul {
  margin-left: 25px;
}
