.mesh-title {
  display: flex;
  justify-content: center;
  color: rgb(238, 29, 29);
}

.meshgraph-wrapper {
  display: flex;
}

.threejs-wrapper {
  border: 1px solid rgb(3, 3, 3);
  margin-left: 28px;
  background-color: rgb(240, 248, 255);
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 36px;
}

.tooltip {
  position: absolute;
  top: 0;
  right: 50px;
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: rgb(150, 108, 108);
  pointer-events: none;
}
